@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-dark: var(--brand-dark);
  --color-brand-dark-foreground: var(--brand-dark-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-varela-round: var(--font-varela-round);
}

:root {
  --background: oklch(0.9711 0.0074 80.7211);
  --foreground: oklch(0.3 0.0358 30.2042);
  --brand-dark: #151616;
  --brand-dark-foreground: #f5f6f6;

  --card: oklch(0.9711 0.0074 80.7211);
  --card-foreground: oklch(0.3 0.0358 30.2042);
  --popover: oklch(0.9711 0.0074 80.7211);
  --popover-foreground: oklch(0.3 0.0358 30.2042);

  --primary: #aa6b6d;
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.9571 0.021 147.636);
  --secondary-foreground: oklch(0.4254 0.1159 144.3078);
  --muted: oklch(0.937 0.0142 74.4218);
  --muted-foreground: oklch(0.4495 0.0486 39.211);
  --accent: oklch(0.8952 0.0504 146.0366);
  --accent-foreground: oklch(0.4254 0.1159 144.3078);
  --destructive: oklch(0.5386 0.1937 26.7249);
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.8805 0.0208 74.6428);
  --input: oklch(0.8805 0.0208 74.6428);
  --ring: oklch(0.5234 0.1347 144.1672);

 
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button,
  [role="button"] {
    cursor: pointer;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    @apply font-varela-round
  }
}



@layer utilities{
  .wrapper{
    @apply container xl:max-w-6xl mx-auto px-4 md:px-10 lg:px-16 xl:px-4
  }
}